DB_URL=#URL to PostgreSQL database
MONGODB_URL=#URL to MongoDB database
DB_USERNAME=#PostgreSQL database username
DB_PASSWORD=#PostgreSQL database password
SECRET_KEY=#Long string as a secret key
MAIL_HOST=#Host for mail service
MAIL_USERNAME=#Username or email address
MAIL_PASSWORD=#Mail app password