<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
  <title>Account</title>
  <style>
    #toggle-password {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 2;
      color: var(--bs-secondary-color);
    }
  </style>
</head>
<body>
<div class="container mt-4 text-center" layout:fragment="content">
  <br><h1><span th:text="${what=='register' ? 'Register' : 'Login'}"></span></h1>
  <form id="authForm" class="mt-3 mx-auto" style="max-width:400px" method="POST" th:action="@{/{link}(link=${what=='register' ? 'register' : 'login'})}">
    <div class="mb-3 text-start">
      <label class="form-label" for="username"><span th:text="${what=='register' ? 'Username' : 'Username/Email'}"></span>:</label>
      <input class="form-control" id="username" type="text" name="username" maxlength="50" placeholder="Enter nickname..." required/>
      <div id="loginHelpBlock" class="form-text">

      </div>
    </div>
    <div class="mb-3 text-start" th:if="${what=='register'}">
      <label class="form-label" for="usermail">Email:</label>
        <input class="form-control" id="usermail" type="email" name="usermail" maxlength="89" placeholder="Enter email..." required/>
      <div id="emailHelpBlock" class="form-text">

      </div>
    </div>
    <div class="mb-3 text-start">
      <label class="form-label" for="userpass">Password:</label>
      <div class="position-relative">
        <input type="password" id="userpass" name="userpass" class="form-control" maxlength="150"
               placeholder="Enter password..." required>
        <button type="button" class="bg-transparent border-0" id="toggle-password">
          <i class="bi bi-eye-slash" id="toggle-icon"></i>
        </button>
      </div>
      <div id="passwordHelpBlock" class="form-text">

      </div>
    </div>
    <button class="btn btn-primary btn-lg mt-2" type="button" onclick="sendForm(event)"><i class="bi bi-box-arrow-in-right"></i> <span th:text="${what=='register' ? 'Sign Up' : 'Sign In'}"></span></button><br>
  </form>
  <a class="text-secondary text-decoration-none fs-6 d-table ms-auto me-auto mt-3" th:href="@{/auth?w={link}(link=${what=='register' ? 'l' : 'r'})}"><span th:text="${what=='register' ? 'I have an account' : 'I do not have an account'}"></span></a>
</div>
<script th:inline="javascript" layout:fragment="script">
  const what = /*[[${what}]]*/ 'login';
  const error = /*[[${err}]]*/ 'None';
  const passwordInput = document.getElementById('userpass');
  const loginInput = document.getElementById('username');
  const togglePasswordButton = document.getElementById('toggle-password');
  let emailInput = null;
  if (what === "register") {
    emailInput = document.getElementById('usermail');
  }
  document.addEventListener('DOMContentLoaded', function () {
    const passwordHelpBlock = document.getElementById('passwordHelpBlock');
    const loginHelpBlock = document.getElementById('loginHelpBlock');
    const toggleIcon = document.getElementById('toggle-icon');
    let emailHelpBlock = null;
    if (what === "register") {
      emailHelpBlock = document.getElementById('emailHelpBlock');
    }
    if (error==="both") {
      loginInput.classList.add('is-invalid');
      passwordInput.classList.add('is-invalid');
      togglePasswordButton.classList.add('me-3');
    }else if (error==="email") {
      emailInput.classList.add('is-invalid');
      loginInput.classList.add('is-invalid');
    }else if (error==="pass") {
      passwordInput.classList.add('is-invalid');
      passwordHelpBlock.textContent = 'Incorrect password';
      passwordHelpBlock.classList.remove('text-success');
      passwordHelpBlock.classList.add('text-danger');
      togglePasswordButton.classList.add('me-3');
    }else if (error==="login") {
      loginInput.classList.add('is-invalid');
      loginHelpBlock.textContent = 'Invalid login';
      loginHelpBlock.classList.remove('text-success');
      loginHelpBlock.classList.add('text-danger');
    }else if (error==="already") {
      loginInput.classList.add('is-invalid');
      loginHelpBlock.textContent = 'That user already exist';
      loginHelpBlock.classList.remove('text-success');
      loginHelpBlock.classList.add('text-danger');
    }else if (error==="who") {
      loginInput.classList.add('is-invalid');
      loginHelpBlock.textContent = 'That user does not exist';
      loginHelpBlock.classList.remove('text-success');
      loginHelpBlock.classList.add('text-danger');
    }else if (error==="expired"){
      loginInput.classList.add('is-invalid');
      passwordInput.classList.add('is-invalid');
      loginHelpBlock.textContent = 'Your session has expired';
      togglePasswordButton.classList.add('me-3');
    }
    togglePasswordButton.addEventListener('click', function () {
      const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
      passwordInput.setAttribute('type', type);
      if (type === 'text') {
        toggleIcon.classList.remove('bi-eye-slash');
        toggleIcon.classList.add('bi-eye');
      } else {
        toggleIcon.classList.remove('bi-eye');
        toggleIcon.classList.add('bi-eye-slash');
      }
    });
    if (what === 'register') {
      emailInput.addEventListener('input', function () {
        const email = emailInput.value;
        let isValid = true;
        let feedbackMessage = ''
        const check = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(email);
        if (!check) {
          isValid = false;
        }
        if (isValid) {
          emailInput.classList.remove('is-invalid');
          emailHelpBlock.textContent = '';
          emailHelpBlock.classList.remove('text-danger');
          emailHelpBlock.classList.add('text-success');
        } else {
          emailInput.classList.add('is-invalid');
          emailHelpBlock.innerHTML = feedbackMessage.trim();
          emailHelpBlock.classList.remove('text-success');
          emailHelpBlock.classList.add('text-danger');
        }

        if (email === '') {
          emailInput.classList.add('is-invalid');
          emailHelpBlock.textContent = 'Your email should be a valid email address.';
          emailHelpBlock.classList.remove('text-success', 'text-danger');
        }
      })
    }
    loginInput.addEventListener('input', function () {
      const login = loginInput.value;
      let isValid = true;
      let feedbackMessage = '';
      const check = /^[a-zA-Z0-9_-]+$/.test(login);
      if (!check) {
        if (what === 'register') {
          isValid = false;
        }else {
          if (!(/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(login))) {
            isValid = false;
          }
        }
      }
      if (isValid) {
        loginInput.classList.remove('is-invalid');
        loginHelpBlock.textContent = '';
        loginHelpBlock.classList.remove('text-danger');
        loginHelpBlock.classList.add('text-success');
      } else {
        loginInput.classList.add('is-invalid');
        loginHelpBlock.innerHTML = feedbackMessage.trim();
        loginHelpBlock.classList.remove('text-success');
        loginHelpBlock.classList.add('text-danger');
      }

      if (login === '') {
        loginInput.classList.add('is-invalid');
        loginHelpBlock.textContent = 'Login must only contain letters, digits, dash or underscore.';
        loginHelpBlock.classList.remove('text-success', 'text-danger');
      }
    });
    passwordInput.addEventListener('input', function () {
      const password = passwordInput.value;
      let isValid = true;
      let feedbackMessage = '';

      const minLength = 8;
      const hasNumber = /\d/.test(password);
      const haslowercaseLetter = /[a-z]/.test(password);
      const hasuppercaseLetter = /[A-Z]/.test(password);
      const hasSpecial = /[@$!%*?&_-]/.test(password);
      const hasInvalid = /[^a-zA-Z0-9@$!%*?&_\S-]/.test(password);

      if (password.length < minLength) {
        isValid = false;
        feedbackMessage += `<i class="bi bi-x-circle-fill"></i> >${minLength} Characters<br>`;
      }
      if (!hasNumber) {
        isValid = false;
        feedbackMessage += `<i class="bi bi-x-circle-fill"></i> Numbers<br>`;
      }
      if (!haslowercaseLetter) {
        isValid = false;
        feedbackMessage += `<i class="bi bi-x-circle-fill"></i> Lowercase letters<br>`;
      }
      if (!hasuppercaseLetter) {
        isValid = false;
        feedbackMessage += `<i class="bi bi-x-circle-fill"></i> Uppercase letters<br>`;
      }
      if (!hasSpecial) {
        isValid = false;
        feedbackMessage += `<i class="bi bi-x-circle-fill"></i> Special characters<br>`;
      }
      if (hasInvalid) {
        isValid = false;
        feedbackMessage += `<i class="bi bi-x-circle-fill"></i> No invalid characters<br>`;
      }

      if (isValid) {
        passwordInput.classList.remove('is-invalid');
        passwordInput.classList.add('is-valid');
        togglePasswordButton.classList.add('me-3');
        passwordHelpBlock.textContent = '';
        passwordHelpBlock.classList.remove('text-danger');
        passwordHelpBlock.classList.add('text-success');
      } else {
        passwordInput.classList.remove('is-valid');
        passwordInput.classList.add('is-invalid');
        togglePasswordButton.classList.add('me-3');
        passwordHelpBlock.innerHTML = feedbackMessage.trim();
        passwordHelpBlock.classList.remove('text-success');
        passwordHelpBlock.classList.add('text-danger');
      }

      if (password === '') {
        passwordInput.classList.remove('is-valid');
        passwordInput.classList.add('is-invalid');
        togglePasswordButton.classList.add('me-3');
        passwordHelpBlock.innerHTML = '';
        passwordHelpBlock.textContent = 'Your password must be more than 8 characters long, contain letters, numbers, special characters, and must not contain spaces, or emoji.';
        passwordHelpBlock.classList.remove('text-success', 'text-danger');
      }
    });
  });


  function sendForm(event) {
    let should_we = false;
    if (loginInput.value && passwordInput.value) {
      if (loginInput.value.toLowerCase() !== 'anonymous') {
        if (passwordInput.value.length >= 8 && /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&_-])(?=\S+$).{8,}$/.test(passwordInput.value)) {
          if (what==="login") {
            if (/^[a-zA-Z0-9_-]+$/.test(loginInput.value) || /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(loginInput.value)) {
              should_we = true;
            } else {
              loginInput.classList.add('is-invalid');
            }
          } else if (what==="register") {
            if (/^[a-zA-Z0-9_-]+$/.test(loginInput.value) && /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(emailInput.value)) {
              should_we = true;
            } else {
              loginInput.classList.add('is-invalid');
              emailInput.classList.add('is-invalid');
            }
          }
        } else {
          passwordInput.classList.add('is-invalid');
          togglePasswordButton.classList.add('me-3');
        }
      } else {
        loginInput.classList.add('is-invalid');
      }
    } else {
      loginInput.classList.add('is-invalid');
      passwordInput.classList.add('is-invalid');
      togglePasswordButton.classList.add('me-3');
      if (what==="register") {
        if (!emailInput.value) {
          emailInput.classList.add('is-invalid');
        }
      }
    }
    if (should_we) {
      document.getElementById("authForm").submit();
    }
  }
</script>
</body>
</html>