<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title layout:title-pattern="$CONTENT_TITLE - ManulTube">ManulTube</title>
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap-icons.min.css}" rel="stylesheet">
    <script th:src="@{/bootstrap.bundle.min.js}"></script>
    <!--<script type="module">
        import RefreshRuntime from 'http://localhost:5173/@react-refresh'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
    </script>-->
    <style>
        html, body {
            font-family: 'Segoe UI', sans-serif;
            height: 100%;
            margin: 0;
        }
        @media (min-width: 992px) {
            #search {
                width: 500px;
            }
        }
        @media (max-width: 992px) {
            #logo {
                height: 50px;
            }
        }
    </style>
</head>
<body class="d-flex flex-column" th:data-bs-theme="${res.params.theme}">
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img th:src="@{/ManulTube_logo.png}" id="logo" width="auto" height="70" class="d-inline-block align-top" alt="ManulTube">
            </a>
            <div th:if="${res.currentUser}" class="d-flex d-lg-none align-items-center gap-3">
                <a class="btn border-0 fs-4" href="/p">
                    <i class="bi bi-plus"></i>
                </a>
                <button class="navbar-toggler btn border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-search"></i>
                </button>
                <a class="text-decoration-none text-body d-flex align-items-center gap-3" th:href="@{/u/{id}(id=${res.currentUser.id})}">
                    <img th:src="@{/media/u/{id}(id=${res.currentUser.id})}" width="auto" height="45" class="d-inline-block align-top" style="border-radius: 50%;" onerror="handleImageError(this)" />
                    <i class="bi bi-person-circle d-none fs-1"></i>
                </a>
            </div>
            <div th:unless="${res.currentUser}" class="d-flex d-lg-none align-items-center gap-3">
                <a class="btn border-0 fs-4" href="/p">
                    <i class="bi bi-plus"></i>
                </a>
                <button class="navbar-toggler btn border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-search"></i>
                </button>
                <a class="text-decoration-none text-body d-flex align-items-center gap-3" href="/login">
                    <i class="bi bi-person-circle fs-1"></i>
                </a>
            </div>
            <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
                <form class="d-flex" role="search" action="/">
                    <input class="form-control mt-3 mt-lg-0 rounded-5" id="search" type="search" placeholder="Search..." name="q"/>
                    <button class="btn d-none d-lg-block" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
            <div th:if="${res.currentUser}" class="d-none d-lg-flex align-items-center gap-3">
                <a class="btn border-0 fs-4" href="/p">
                    <i class="bi bi-plus"></i>
                </a>
                <a class="text-decoration-none text-body d-flex align-items-center gap-3" th:href="@{/u/{id}(id=${res.currentUser.id})}">
                    <span th:text="${res.currentUser.name}" class="fw-bold"></span>
                    <img th:src="@{/media/u/{id}(id=${res.currentUser.id})}" width="auto" height="45" class="d-inline-block align-top" style="border-radius: 50%;" onerror="handleImageError(this)" />
                    <i class="bi bi-person-circle d-none fs-1"></i>
                </a>
            </div>
            <div th:unless="${res.currentUser}" class="d-none d-lg-flex align-items-center gap-3">
                <a class="btn border-0 fs-4" href="/p">
                    <i class="bi bi-plus"></i>
                </a>
                <a class="text-decoration-none text-body d-flex align-items-center gap-3" href="/login">
                    <span class="fw-bold">Anonymous</span>
                    <i class="bi bi-person-circle fs-1"></i>
                </a>
            </div>
        </div>
    </nav>
</header>

<main class="flex-grow-1">
    <div layout:fragment="content">
        Placeholder
    </div>

</main>

<footer class="text-center text-secondary p-3">
    © 2026 ManulTube
</footer>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const query = urlParams.get('q');
    if (query) {
        document.getElementById('search').value = query;
    } else {
        document.getElementById('search').value = '';
    }
    document.querySelectorAll('form').forEach(element => {
        element.addEventListener('submit', function(e) {
                for (const [key, value] of urlParams) {
                    if (!element.querySelector(`[name="${key}"]`)) {
                        const hiddenInput = document.createElement('input');
                        hiddenInput.type = 'hidden';
                        hiddenInput.name = key;
                        hiddenInput.value = value;
                        element.appendChild(hiddenInput);
                    }
                }
        }
        )
    }
    );
    function handleImageError(imageElement) {
        imageElement.onerror = null;

        imageElement.classList.add('d-none');

        const iconElement = imageElement.nextElementSibling;
        if (iconElement && iconElement.classList.contains('bi')) {
            iconElement.classList.remove('d-none');
        }
    }
</script>
<script layout:fragment="script"></script>

</body>
</html>
