<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <title></title>
    <style>
        .video-card {
            cursor: pointer;
            transition: transform 0.15s ease;
        }

        .video-card:hover {
            transform: scale(1.02);
        }

        .video-thumbnail {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
            border-radius: 12px;
        }

        .video-title {
            font-weight: 600;
            font-size: 0.95rem;
            line-height: 1.2;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .channel-name {
            font-size: 0.85rem;
            margin-top: 4px;
        }

        .video-date {
            font-size: 0.8rem;
        }

        .thumbnail-link {
            overflow: hidden;
            display: block;
            border-radius: 12px;
        }

        .thumbnail-link img {
            transition: transform 0.2s ease;
        }

        .thumbnail-link:hover img {
            transform: scale(1.05);
        }

        @media (min-width: 1700px) {
            .container {
                max-width: 1600px;
            }
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${!#lists.isEmpty(res.content.content)}" class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-3">

            <div class="text-muted small"
                 th:text="|Showing ${1+res.content.size*(res.content.page-1)}-${res.content.size*res.content.page} of ${res.content.totalElements} total results|">
            </div>

            <form id="sizeSortForm" method="GET" class="d-flex align-items-center gap-2">

                <label for="size" class="text-muted small mb-0">
                    Posts per page
                </label>

                <select name="s" id="size" class="form-select form-select-sm" style="width: 110px;"
                        onchange="form.requestSubmit()">
                    <option value="8" th:selected="${res.content.size == 8}">8</option>
                    <option value="16" th:selected="${res.content.size == 16}">16</option>
                    <option value="32" th:selected="${res.content.size == 32}">32</option>
                    <option value="64" th:selected="${res.content.size == 64}">64</option>
                    <option th:if="${res.content.size!=8 && res.content.size!=16 && res.content.size!=32 && res.content.size!=64}"
                            th:value="${res.content.size}" th:text="${res.content.size}" selected>
                    </option>
                </select>

                <div class="dropdown">
                    <button class="btn" type="button" data-bs-toggle="dropdown">
                        <i class="bi bi-filter"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><span style="padding: 0.25rem 1rem">Sort</span></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#" data-value="hot">Hot</a></li>
                        <li><a class="dropdown-item" href="#" data-value="latest">Latest</a></li>
                    </ul>
                </div>
            </form>

        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-4 col-sm-6"
                 th:each="post : ${res.content.content}">
                <article class="video-card">

                    <a th:href="@{/p/{id}(id=${post.id})}" class="thumbnail-link text-body">
                        <img class="video-thumbnail"
                             th:src="@{/media/t/{id}(id=${post.id})}"
                             onerror="this.src='/video_placeholder.jpg';">
                    </a>

                    <div class="video-info d-flex mt-2">

                        <a class="text-body"
                           th:href="@{/u/{id}(id=${post.userId})}">
                            <img class="rounded-circle object-fit-cover mt-2" style="width: 36px; height: 36px;" th:src="@{/media/u/{id}(id=${post.userId})}"
                                 onerror="handleImageError(this)"/>
                            <i class="bi bi-person-circle d-none" style="font-size: 36px"></i>
                        </a>

                        <div class="ms-3 d-flex flex-column">

                            <a th:href="@{/p/{id}(id=${post.id})}"
                               class="video-title text-decoration-none text-body">
                                <span th:text="${post.title}"></span>
                            </a>

                            <a th:href="@{/u/{id}(id=${post.userId})}"
                               class="channel-name text-decoration-none text-muted">
                                <span th:text="${post.username}"></span>
                            </a>

                            <div class="video-date text-muted">
                                <span th:text="${#dates.format(new java.util.Date(post.createdAt),'dd-MM-yyyy HH:mm')}"></span>
                            </div>

                        </div>
                    </div>

                </article>
            </div>
        </div>

        <form id="paginationForm" method="GET" class="mt-5">
        <nav>
            <ul th:if="${res.content.totalPages<=6}" class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link page-prev-next" th:data-total-pages="${res.content.totalPages}" th:data-next-page="${res.content.page-1}" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="i: ${#numbers.sequence(1, res.content.totalPages)}" class="page-item" th:classappend="${i == res.content.page} ? 'active'">
                    <a class="page-link page-num" th:classappend="${i == res.content.page} ? 'active'" href="#" th:data-value="${i}" th:text="${i}"></a>
                </li>
                <li class="page-item">
                    <a class="page-link page-prev-next" th:data-total-pages="${res.content.totalPages}" th:data-next-page="${res.content.page+1}" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
            <ul th:unless="${res.content.totalPages<=6}" class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link page-prev-next" th:data-total-pages="${res.content.totalPages}" th:data-next-page="${res.content.page-1}" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item" th:if="${res.content.page-1>=3}">
                    <a class="page-link page-num" href="#" th:data-value="1" th:text="1"></a>
                </li>
                <li class="page-item" th:if="${res.content.page-1>=3}">
                    <a class="page-link page-num spacer" href="#">...</a>
                </li>

                <li th:each="i : ${#numbers.sequence(((res.content.page<4) ? 1 : (res.content.page-1>res.content.totalPages-4 ? res.content.totalPages-4 : res.content.page-1)), ((res.content.page>=res.content.totalPages-2) ? res.content.totalPages : (5>res.content.page+1 ? 5 : res.content.page+1)))}" class="page-item" th:classappend="${i == res.content.page} ? 'active'">
                    <a class="page-link page-num" th:classappend="${i == res.content.page} ? 'active'" href="#" th:data-value="${i}" th:text="${i}"></a>
                </li>

                <li class="page-item" th:if="${res.content.totalPages-res.content.page>=3}">
                    <a class="page-link page-num spacer" href="#">...</a>
                </li>
                <li class="page-item" th:if="${res.content.totalPages-res.content.page>=3}">
                    <a class="page-link page-num" href="#" th:data-value="${res.content.totalPages}" th:text="${res.content.totalPages}"></a>
                </li>

                <li class="page-item">
                    <a class="page-link page-prev-next" th:data-total-pages="${res.content.totalPages}" th:data-next-page="${res.content.page+1}" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        </form>


    </div>
    <div th:unless="${!#lists.isEmpty(res.content.content)}" class="container mt-4">
        <div class="text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-2 fw-medium mt-4">Oops! Content not found</p>
            <a href="/" class="btn btn-light fw-semibold rounded-pill px-4 py-2 custom-btn">
                Go Home
            </a>
        </div>
    </div>
</div>

<script layout:fragment="script">
    document.querySelectorAll('.dropdown-item').forEach(item => {
        item.addEventListener('click', function (e) {
            e.preventDefault();

            const value = this.getAttribute('data-value');
            const form = document.getElementById('sizeSortForm');
            if (!form.querySelector(`input[name="f"]`)) {
                const hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = "f";
                hiddenInput.value = value;
                form.appendChild(hiddenInput);
            } else {
                form.querySelector(`input[name="f"]`).value = value;
            }

            form.requestSubmit();
        });
    });
    document.querySelectorAll('.page-num').forEach(item => {
        item.addEventListener('click', function (e) {
            e.preventDefault();

            if (!(e.target.classList.contains('active'))) {
                const form = document.getElementById('paginationForm');
                let value;
                if (e.target.classList.contains('spacer')) {
                    let newPage = prompt('Navigate to page');
                    if (newPage) {
                        value = newPage;
                    }else{
                        return;
                    }
                }else{
                    value = this.getAttribute('data-value');
                }
                const hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = "p";
                hiddenInput.value = value;
                form.appendChild(hiddenInput);
                form.requestSubmit();
            }
        })
    })
    document.querySelectorAll('.page-prev-next').forEach(item => {
        item.addEventListener('click', function (e) {
            e.preventDefault();
            const totalPages = this.getAttribute('data-total-pages');
            const nextPage = this.getAttribute('data-next-page');
            const form = document.getElementById('paginationForm');
            if (parseInt(nextPage) >= 1 && parseInt(nextPage) <= parseInt(totalPages)) {
                const hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = "p";
                hiddenInput.value = nextPage;
                form.appendChild(hiddenInput);
                form.requestSubmit();
            }
        })
    });
</script>

</body>
</html>