<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <title></title>
    <style>
        .image-wrapper {
            position: relative;
            display: inline-block;
        }
        .image-wrapper img {
            object-fit: cover;
            transition: opacity 0.3s ease;
        }
        .overlay {
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 0.3s ease;
        }
        .overlay p {
            color: white;
            font-size: 2rem;
        }

        .image-wrapper:hover .overlay {
            opacity: 1;
        }

        .image-wrapper:hover .custom-overlay {
            opacity: 0;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${res.content}">
        <div class="container mt-4">
            <div class="embed-responsive embed-responsive-16by9 ratio ratio-16x9">
                <video controls>
                    <source th:src="@{/media/p/{postId}(postId=${res.content.id})}" type="video/mp4"
                            onerror="(()=>{this.src=''; document.getElementById('imgWrapper').classList.remove('d-none'); this.parentElement.parentElement.remove();})()">
                </video>
            </div>
            <div id="imgWrapper" class="d-none image-wrapper embed-responsive embed-responsive-16by9 ratio ratio-16x9">
                <img src="/video_placeholder.jpg">
                <div class="overlay">
                    <p>Loading or missing</p>
                </div>
            </div>
            <div class="fw-bold fs-5 lh-base text-break">
                <span th:text="${res.content.title}"></span>
            </div>
            <div class="video-info d-flex mt-2 justify-content-between">
                <div class="d-flex">
                    <a class="text-body"
                       th:href="@{/u/{id}(id=${res.content.userId})}">
                        <img class="rounded-circle object-fit-cover text-body mt-2" style="width: 50px; height: 50px;" th:src="@{/media/u/{id}(id=${res.content.userId})}"
                             onerror="handleImageError(this)"/>
                        <i class="bi bi-person-circle d-none" style="font-size: 50px"></i>
                    </a>
                    <div class="ms-3 d-flex flex-column gap-2">
                        <a th:href="@{/u/{id}(id=${res.content.userId})}"
                           class="text-decoration-none text-body" style="font-size: 1.1rem">
                            <span th:text="${res.content.username}"></span>
                        </a>
                        <div class="text-muted" style="font-size: 0.7rem">
                            <span th:text="${#dates.format(new java.util.Date(res.content.createdAt),'dd-MM-yyyy HH:mm')}"></span>
                        </div>
                    </div>
                </div>

                <div class="ms-3 d-flex flex-column">
                    <div class="flex-row">
                        <button id="upvote" type="button" class="btn" th:disabled="${res.content.rating==true}">
                            <i th:class="'bi bi-hand-thumbs-up'+${res.content.rating==true ? '-fill' : ''}"> </i><span
                                th:text="${res.content.upvotes<1000 ? res.content.upvotes : T(java.lang.Math).round(res.content.upvotes/1000.0 * 10.0) / 10.0 + 'K'}"></span>
                        </button>
                        <button id="downvote" type="button" class="btn" th:disabled="${res.content.rating==false}">
                            <i th:class="'bi bi-hand-thumbs-down'+${res.content.rating==false ? '-fill' : ''}"></i>
                            <span th:text="${res.content.downvotes<1000 ? res.content.downvotes : T(java.lang.Math).round(res.content.downvotes/1000.0 * 10.0) / 10.0 + 'K'}"></span>
                        </button>
                    </div>
                    <div class="progress mt-2" style="height: 10px;">
                        <div class="progress-bar bg-success"
                             th:style="'width: '+${T(java.lang.Math).round(100.0*res.content.upvotes/(res.content.upvotes+res.content.downvotes))}+'%'"></div>
                        <div class="progress-bar bg-danger"
                             th:style="'width: '+${T(java.lang.Math).round(100.0*res.content.downvotes/(res.content.upvotes+res.content.downvotes))}+'%'"></div>
                    </div>

                </div>
            </div>
        </div>
        <div th:if="${!#lists.isEmpty(res.content.comments.content)}" class="container">
            <hr class="mt-5 bg-body border-2 border-top" />
            <p class="fs-3 fw-medium mt-4 text-muted">Comments</p>
            <div class="d-flex justify-content-between align-items-center mb-3">

                <div class="text-muted small"
                     th:text="|Showing ${1*res.content.comments.page}-${res.content.comments.size*res.content.comments.page} of ${res.content.comments.totalElements} total results|">
                </div>

                <form id="sizeSortForm" method="GET" class="d-flex align-items-center gap-2">

                    <label for="size" class="text-muted small mb-0">
                        Comments per page
                    </label>

                    <select name="s" id="size" class="form-select form-select-sm" style="width: 110px;"
                            onchange="form.requestSubmit()">
                        <option value="8" th:selected="${res.content.comments.size == 8}">8</option>
                        <option value="16" th:selected="${res.content.comments.size == 16}">16</option>
                        <option value="32" th:selected="${res.content.comments.size == 32}">32</option>
                        <option value="64" th:selected="${res.content.comments.size == 64}">64</option>
                        <option th:if="${res.content.comments.size!=8 && res.content.comments.size!=16 && res.content.comments.size!=32 && res.content.comments.size!=64}"
                                th:value="${res.content.comments.size}" th:text="${res.content.comments.size}" selected>
                        </option>
                    </select>
                </form>
            </div>
            <div class="card-body container">
                <div class="video-info d-flex mt-2 text-break" th:each="comment : ${res.content.comments.content}">

                    <a class="text-body"
                       th:href="@{/u/{id}(id=${comment.userId})}">
                        <img class="rounded-circle object-fit-cover text-body mt-2" style="width: 36px; height: 36px;" th:src="@{/media/u/{id}(id=${comment.userId})}"
                             onerror="handleImageError(this)"/>
                        <i class="bi bi-person-circle d-none" style="font-size: 36px"></i>
                    </a>

                    <div class="ms-3 d-flex flex-column">
                        <a th:href="@{/u/{id}(id=${comment.userId})}"
                           class="text-decoration-none text-muted">
                            <p th:text="${comment.username}"></p>
                        </a>
                        <p th:text="${comment.comment}"></p>
                        <p></p>
                    </div>
                </div>
            </div>

            <form id="paginationForm" method="GET" class="mt-5">
                <nav>
                    <ul th:if="${res.content.comments.totalPages<=6}" class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link page-prev-next" th:data-total-pages="${res.content.comments.totalPages}"
                               th:data-next-page="${res.content.comments.page-1}" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="i: ${#numbers.sequence(1, res.content.comments.totalPages)}" class="page-item"
                            th:classappend="${i == res.content.comments.page} ? 'active'">
                            <a class="page-link page-num" th:classappend="${i == res.content.comments.page} ? 'active'"
                               href="#"
                               th:data-value="${i}" th:text="${i}"></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link page-prev-next" th:data-total-pages="${res.content.comments.totalPages}"
                               th:data-next-page="${res.content.comments.page+1}" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                    <ul th:unless="${res.content.comments.totalPages<=6}" class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link page-prev-next" th:data-total-pages="${res.content.comments.totalPages}"
                               th:data-next-page="${res.content.comments.page-1}" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li class="page-item" th:if="${res.content.comments.page-1>=3}">
                            <a class="page-link page-num" href="#" th:data-value="1" th:text="1"></a>
                        </li>
                        <li class="page-item" th:if="${res.content.comments.page-1>=3}">
                            <a class="page-link page-num spacer" href="#">...</a>
                        </li>

                        <li th:each="i : ${#numbers.sequence(((res.content.comments.page<4) ? 1 : (res.content.comments.page-1>res.content.comments.totalPages-4 ? res.content.comments.totalPages-4 : res.content.comments.page-1)), ((res.content.comments.page>=res.content.comments.totalPages-2) ? res.content.comments.totalPages : (5>res.content.comments.page+1 ? 5 : res.content.comments.page+1)))}"
                            class="page-item" th:classappend="${i == res.content.comments.page} ? 'active'">
                            <a class="page-link page-num" th:classappend="${i == res.content.comments.page} ? 'active'"
                               href="#"
                               th:data-value="${i}" th:text="${i}"></a>
                        </li>

                        <li class="page-item" th:if="${res.content.comments.totalPages-res.content.comments.page>=3}">
                            <a class="page-link page-num spacer" href="#">...</a>
                        </li>
                        <li class="page-item" th:if="${res.content.comments.totalPages-res.content.comments.page>=3}">
                            <a class="page-link page-num" href="#" th:data-value="${res.content.comments.totalPages}"
                               th:text="${res.content.comments.totalPages}"></a>
                        </li>

                        <li class="page-item">
                            <a class="page-link page-prev-next" th:data-total-pages="${res.content.comments.totalPages}"
                               th:data-next-page="${res.content.comments.page+1}" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </form>


        </div>
        <div th:unless="${!#lists.isEmpty(res.content.comments.content)}" class="container mt-4">
            <div class="text-center">
                <p class="fs-2 fw-medium mt-4 text-muted">Comments not found</p>
            </div>
        </div>
    </div>
    <div th:unless="${res.content}">
        <div class="text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-2 fw-medium mt-4">Oops! Content not found</p>
            <a href="/" class="btn btn-light fw-semibold rounded-pill px-4 py-2 custom-btn">
                Go Home
            </a>
        </div>
    </div>
</div>

<script layout:fragment="script">
    document.querySelectorAll('.dropdown-item').forEach(item => {
        item.addEventListener('click', function (e) {
            e.preventDefault();

            const value = this.getAttribute('data-value');
            const form = document.getElementById('sizeSortForm');
            if (!form.querySelector(`input[name="f"]`)) {
                const hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = "f";
                hiddenInput.value = value;
                form.appendChild(hiddenInput);
            } else {
                form.querySelector(`input[name="f"]`).value = value;
            }

            form.requestSubmit();
        });
    });
    document.querySelectorAll('.page-num').forEach(item => {
        item.addEventListener('click', function (e) {
            e.preventDefault();

            if (!(e.target.classList.contains('active'))) {
                const form = document.getElementById('paginationForm');
                let value;
                if (e.target.classList.contains('spacer')) {
                    let newPage = prompt('Navigate to page');
                    if (newPage) {
                        value = newPage;
                    } else {
                        return;
                    }
                } else {
                    value = this.getAttribute('data-value');
                }
                const hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = "p";
                hiddenInput.value = value;
                form.appendChild(hiddenInput);
                form.requestSubmit();
            }
        })
    })
    document.querySelectorAll('.page-prev-next').forEach(item => {
        item.addEventListener('click', function (e) {
            e.preventDefault();
            const totalPages = this.getAttribute('data-total-pages');
            const nextPage = this.getAttribute('data-next-page');
            const form = document.getElementById('paginationForm');
            if (parseInt(nextPage) >= 1 && parseInt(nextPage) <= parseInt(totalPages)) {
                const hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = "p";
                hiddenInput.value = nextPage;
                form.appendChild(hiddenInput);
                form.requestSubmit();
            }
        })
    });
</script>

</body>
</html>